:root {
    /* Farben für das Design */
    --background: #f5f5fa;
    --navbar: #323432;
    --text: #323432;
    --text-light: #f5f5fa;
    --primary: #ffd000;
    --secondary: #323432;
    --accent: #f5cc5c;
}

* {
    /* Ist gut (Keine ahnung warum) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Hintergrundfarbe der Seite */
    background-color: var(--background);
}

header {
    /* Stile für die Navigationsleiste */
    /* position: fixed; <= ist komisch   /* Fixiert die Navigation oben */
    width: 100%;        /* Füllt die gesamte Seitenbreite aus */
    padding-top: 10px;  /* Abstand nach oben */
    background: var(--navbar); /* Hintergrundfarbe der Navigation */
}

nav {
    /* Styling für die Navigations Elemente */
    display: flex;   /* Flexbox für flexible Anordnung */
    gap: 40px;       /* Abstand zwischen Navigationselementen */
}

.navigation_section {
    display: flex;
    gap: 40px;
    width: 100%;
}

.align_left {
    /* Linke Navigation */
    padding-left: 20px;
    justify-content: flex-start; /* Startet Elemente linksbündig */
}

.align_right {
    /* Rechte Navigation */
    padding-right: 20px;
    justify-content: flex-end;   /* Positioniert Elemente rechtsbündig */
}

.navigation_link {
    /* Links in der Navigation */
    text-decoration: none;
}

a .navigation_text {
    font-size: 16px;
    padding-bottom: 5px;
    color: var(--text-light);
}

a:hover .navigation_text {
    color: var(--accent);
}

a .navigation_line {
    width: 100%;
    height: 2px;
    background-color: var(--navbar);
}

a:hover .navigation_line {
    background-color: var(--accent);
}

.products_container {
    width: 80%;
    height: 600px;

    margin-right: 10%;
    margin-left: 10%;
    margin-top: 100px;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */

    gap: 20px;
}

.product_container {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    border-radius: 20px;

    padding: 20px;
}

.product_container_product_background {
    width: 100%;
    height: 60%;
    background-color: var(--secondary);
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

