:root {
    --background: #f5f5fa;
    --navbar: #D9D9D9;
    --text: #323432;
    --primary: #ffd000;
    --secondary: #323432;
    --accent: #f5cc5c;
    --dropdown-background-overlay: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--background);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
}

a:hover {
    color: var(--accent);
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: var(--text);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: var(--text);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    scale: 1.05;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none; /* Keep hidden initially */
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: var(--dropdown-background-overlay);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease;
}

.dropdown_menu.open {
    display: block; /* Show the dropdown */
    height: auto;
    opacity: 1;
}

.dropdown_menu ul {
    padding: 0;
    margin: 0;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive Design */
@media(max-width: 992px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: none; /* Keep hidden, will be toggled by JS */
    }

    .navbar .dropdown_menu .action_btn {
        display: block; /* Display action button in dropdown */
    }

    /* Regulierer Button in Navbar ausblenden, wenn Dropdown aktiv ist */
    .navbar .action_btn {
        display: none; /* Regulierer Button ausblenden */
    }

    /* Wenn das Dropdown-Menü offen ist, den regulären Button ausblenden */
    .dropdown_menu.open + .action_btn {
        display: none; /* Sicherstellen, dass der Button nicht im Navbar angezeigt wird */
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}